<h1>New Article</h1>

<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>

<!-- 
    By default form_with submits forms using Ajax thereby skipping full page redirects. 
    To make this guide easier to get into we've disabled that with local: true for now. 
-->